.MenuContainer{
    display: flex;
    align-items: center;
    
  
    justify-content: space-between;
    /* background-color: red; */
    border-bottom: 1px solid grey;

}
.MenuContainer button {
    font-size: 18px;
    margin: 7px;
    margin-right: 15px;
    outline: none;
    border: none;
    background: none;
    color: rgb(70, 70, 70);
    cursor: pointer;
}
.editorContainer{
   
    /* display: flex; */
   
   margin-top: 30px;
   /* margin-left: 200px; */

    align-content: center;
    
    width: 800px;

    border: 1px solid grey;
    
    
   
}
button.active{
    background: rgb(197, 197, 197);
    padding: 2px 3px;
    border-radius: 2px;
}
@media only screen and (max-width: 768px){
   .editorContainer{
    width: 350px;
   }
   .MenuContainer button {
    font-size: 10px;
    margin: 3px;
    margin-right: 8px;
   
    
}
}

